<!--Intro and service-->

<div id="intro" class="section scrollspy services-solve-problems back-groud-color-white ">
    <div class="container">
        <div class="row">


            <div class="col s12">

                <h5 class="center header text_h3">

                </h5>

            </div>

            <div class="col s12 m6">
                <div class=" promo promo-example">
                    <p class="light product-header">
                        About Us
                    </p>
                    <hr>

                    <p class="light product-features">

                        <br />
                        <span class="span-icon-bar"> -</span> BitKey try to Maintaining a long-term project on Bitcoin. If you want support us you can download our app
                        it`s free.
                        <br />
                        <br />

                        <span class="span-icon-bar"> -</span> You can donate to our Bitcoin address:
                        13Ez2XwTpZuGNiWKpUMwJzXJPXHPxJL6ks

                        <a class="" href="https://blockchain.info/address/13Ez2XwTpZuGNiWKpUMwJzXJPXHPxJL6ks">
                            QR-code
                        </a>. 
                        <br />
                        These coins can help us to test product.

                        <br />

                        <br />
                        <span class="span-icon-bar"> -</span> Involve In: bitkey.tech@gmail.com
                        <br />
                    </p>


                </div>
            </div>

            <div class="col s12 m6">
                <div class=" promo promo-example">
                    <p class="light product-header">
                        Our Mission
                    </p>
                    <hr>
                    <p class="light product-features">
                        <br />
                        Build the best key management tools for individual Bitcoin users. 
                        <br />
                    </p>

                    <p class="light product-features">
                        <br />
                        <span class="span-icon-bar"> -</span>  Keys Management, SoV, BitKey.App
                        <br />
                        <span class="span-icon-bar"> -</span>  Customized Script Management, MAST, BitKey.App
                        <br />
                        <span class="span-icon-bar"> -</span>  Payment Service, LN, SatPay.App
                        <br />
                    </p>


                    
                    <br />
                    <br />
                    <br />
                </div>
            </div>



        </div>
    </div>

</div>