<!--Footer-->
<footer id="footer" class="page-footer default_color scrollspy">

    <br />
    <br />
    <div class="container">
        <div class="row">

            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <table class="">
                        <thead>
                            <tr>
                                <th>CONTACT US:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Email: bitkey.tech@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Twitter:
                                    <a class="white-link" href="https://twitter.com/bitkeyapp">@bitkeyapp</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <table class="">
                        <thead>
                            <tr>
                                <th>TECHNICAL BLOG:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a class="white-link" href="https://medium.com/bitkey-blog/bitkey-s-multisig-timelock-address-22ff41c1b017"> Multisig-TimeLock Address Introduction</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <table class="">
                        <thead>
                            <tr> 

                                <th>DOWNLOAD IMMEDIATELY:</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            <tr>
                                <td> iOS:
                                    <a class="white-link" href="https://itunes.apple.com/us/app/bitkey-bitcoin-wallet/id898643317">Bitkey App</a>
                                </td>
                            </tr>
                            <tr>
                                <td> Mac:
                                    <a class="white-link" href="https://github.com/BitPizza/BitKey-Multisig-Tool">Bitkey-Multisig-Tool</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>





        </div>
    </div>


    <br />
    <br />
    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col l12 s12 center">
                <a class="white-text social-icon" href="https://twitter.com/bitkeyapp">
                    <i class="small fa fa-twitter-square white-text"></i>
                </a>
                <a class="white-text social-icon" href="https://github.com/BitPizza">
                    <i class="small fa fa-github-square white-text"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright default_color">
        <div class="container center">
            &copy; BitKey.App
        </div>
    </div>
</footer>