<!--Intro and service-->

<div id="intro" class="section scrollspy services-solve-problems back-groud-color-white ">
    <div class="container">
        <div class="row">


            <div class="col s12">
                <h5 class="center header text_h3">
                    Bitkey App works as a pure Bitcoin wallet and focus on best key management practice.
                </h5>

                <h5 class="center header text_h3">
                    BitKey-Multisig-Tool on Mac is a cosign tool, and the cosign-keys can be totally airgap and safe. 
                </h5>

            </div>

            <div class="col s12 m6">
                <div class=" promo promo-example">
                    <p class="light product-header">
                        1. BitKey App for iPhone
                    </p>
                    <hr>


                    <p class="light product-features">
                        Compatibility:
                        <br />
                        <span class="span-icon-bar"> -</span> iPhone, iPad.
                        <br />
                        <span class="span-icon-bar"> -</span> Systerm newer than iOS 10.
                        <br />
                    </p>

                    <p class="light product-features">
                        Cryptocurrencies:
                        <br />
                        <span class="span-icon-bar"> -</span> Bitcoin only.
                        <br />
                    </p>

                    <p class="light product-features">
                        Download:
                        <br />
                        <span class="span-icon-bar"> -</span>
                        <a class="" href="https://itunes.apple.com/us/app/bitkey-bitcoin-wallet/id898643317">
                            Appstore</a>
                        <br />
                    </p>
                    
                </div>
            </div>

            <div class="col s12 m6">
                <div class=" promo promo-example">
                    <p class="light product-header">
                        2. BitKey-multisig-Tool on Mac
                    </p>
                    <hr>


                    <p class="light product-features">
                        Compatibility:
                        <br />
                        <span class="span-icon-bar"> -</span> Mac
                        <br />
                        <span class="span-icon-bar"> -</span> macOS 10 or newer systerm.
                        <br />
                    </p>

                    <p class="light product-features">
                        Download:
                        <br />
                        <span class="span-icon-bar"> -</span>
                        <a class="" href="https://github.com/BitPizza/BitKey-Multisig-Tool">
                            Download From Github</a>
                        <br />
                    </p>





                </div>
            </div>

        </div>
    </div>

</div>