<!--Intro and service-->

<div id="intro" class="section scrollspy services-solve-problems back-groud-color-white ">
    <div class="container">
        <div class="row">

            <div class="col s12 m6">
                <div class="center promo promo-example">
                        <!-- http://jsfiddle.net/oq4okjpt/6/ -->
                    <img class="services-solve-problems-image-1 z-depth-2" src="{{ site.url }}/img/icon/blockquote.png">
                    <h5 class="promo-caption"></h5>
                    <p class="light center">
                    </p>
                </div>
            </div>
            <div class="col s12 m6">
                <div class=" promo promo-example">
                    <p class="light services-solve-problems-check-list">
                    <br />
                    <span class="span-icon1"> ( x )   </span> Backup private-keys/seed-words on paper. <span class="span_h3">It is risk. </span> <br />
                    <span class="span-icon1"> ( x )   </span> Backup AES encrypted data on cloud storage. <span class="span_h3">It is not perfect.</span> The cloud administer or hacker can <span class="span_h3">brute-force</span> break the encrypted data.<br />
                    <span class="span-icon3"> ( ? )   </span> Is there a better method? 
                    </p>

                    
                </div>
            </div>

        </div>
    </div>

</div>