<!-- Intro and service -->
<div id="intro" class="section scrollspy services">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="center header ">
                    Bitkey is a pure Bitcoin wallet since 2014.
                    <br/>
                    No account required you control your Bitcoin keys.
                </h5>  
                <br/>
                <br/>
                <br/>
            </div>


            <div class="col s12">
                <h6 class="center header ">
                        BitKey is suitable for both beginners and advanced users. 
                </h6>  
                <h6 class="center header ">
                        The following <span class="span_h3 product-warning">3 Main-Features</span> provide a progressing security upgrade.
                </h6>  
                <br/>
            </div>


            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <!-- <img class="icon-services-image-1" src="{{ site.url }}/img/icon/security.png"> -->
                    <h6 class="promo-caption span_h3 product-warning">1. Data Backup</h6 >
                    <p class="light center">
    
                    For most, keys loss is a larger risk than coin theft, Bitkey is implamented with trusted data backup solutions, using your own iCloud document, which is encrypted and protected by the sandbox mechanism.
                    </p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <!-- <img class="icon-services-image-2" src="{{ site.url }}/img/icon/faceid.png"> -->
                    <h6 class="promo-caption span_h3 product-warning">2. Advanced Encrypt</h6>
                    <p class="light center">
                    Weak passwords cannot resist any brute force attacks. Bitkey uses security questions/answers enhance your password, which can add 100 bits of entropy to your password. This will effectively resist brute force attacks.
                    </p>
                </div>
            </div>
            <div class="col s12 m4 l4">
            
                <div class="center promo promo-example">
                    <!-- <img class="icon-services-image-3" src="{{ site.url }}/img/icon/corenfc.png"> -->
                    <h6 class="promo-caption span_h3 product-warning">3. Multisig-TimeLock Address</h6>
                    <p class="light center">
                    BitKey provides 2-of-2 multisig-timelock address, this is a two-factor wallet and greatly avoids single point risk.
                    Another advantage, even if your cold keys(seeds/mnemonics) lost, you can still spend coins after timelock expired.
                    </p>
                    <p>
                    <a class="" href="https://medium.com/bitkey-blog/bitkey-s-multisig-timelock-address-22ff41c1b017"> Read More</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
