<!--Intro and service-->
<div id="intro" class="section scrollspy services-more-features back-groud-color-gray">
    <div class="container">
        <div class="row">


        <div class="col s12 m6">
                <div class="center promo promo-example services-more-features-intro">
                    <h5 class="promo-caption">More Information</h5>
                    <p class="light center services-scan-nfc-intro">
                    <br /><br />

                    You can find more detail features about BitKey on the 
                    <a text-decoration=“underline” href="{{ site.url }}/page-product/">PRODUCT</a> page.
                    <br />
                    You can read our 
                    <a  text-decoration=“underline” href="https://medium.com/bitkey-blog">BLOG</a> to know how BitKey works.

                    <br />
                    Download the app via 
                    <a  text-decoration=“underline” href="https://itunes.apple.com/us/app/bitkey-bitcoin-wallet/id898643317">APPSTORE</a> .

                    <br /><br />
                    </p>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="center promo promo-example">
                    <img class="services-more-features-image-1 z-depth-2" src="{{ site.url }}/img/icon/appstore.jpg">
                    <h5 class="promo-caption"></h5>
                    <p class="light center">
                    </p>
                </div>
            </div>

    
        </div>
    </div>

</div>
